* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--content-width: 500px;
}

body {
	background-image: url(https://wallpapercave.com/wp/wp3514116.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.buttons {
	margin: 20px auto;
	display: inline-flex;
	justify-content: center;
}

.grid-size,
.clear {
	background: white;
	cursor: pointer;
	padding: 5px;
	margin: auto;
	font-size: x-large;
	width: 2em;
}

.grid-size {
	margin-right: 1rem;
}

.clear {
	margin-left: 1rem;
}

h1 {
	font-family: "Indie Flower", cursive;
	font-size: 4rem;
	color: red;
	text-shadow: 5px 5px 0 black, 7px 7px 0 black;
}

.container-wrapper {
	height: 75vw;
	width: 75vw;
	max-width: var(--content-width);
	max-height: var(--content-width);
	background: transparent;
	margin: 20px auto;
}

.container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: repeat(var(--grid-row), 1fr);
	grid-template-columns: repeat(var(--grid-col), 1fr);
	border: 10px ridge rgb(134, 131, 131);
}

.cell {
	background: white;
	border: 0.1px ridge grey;
}

.select {
	position: relative;
	margin: 20px;
	display: inline-flex;
	justify-content: center;
}

.color-select {
	cursor: pointer;
	font-size: medium;
	background: white;
}

#colorpicker {
	cursor: pointer;
	margin-left: 1rem;
}
