* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--content-width: 500px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container-wrapper {
	height: 75vw;
	width: 75vw;
	max-width: var(--content-width);
	max-height: var(--content-width);
	background: transparent;
	margin: 20px auto;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 60px);
	grid-template-rows: repeat(3, 60px);
	height: 100%;
	width: 100%;
}
