* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--content-width: 500px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.buttons {
	margin: 20px;
}

h1 {
	margin: 20px;
}

.container-wrapper {
	height: 75vw;
	width: 75vw;
	max-width: var(--content-width);
	max-height: var(--content-width);
	background: transparent;
	margin: 20px auto;
}

.container {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-rows: repeat(var(--grid-row), 1fr);
	grid-template-columns: repeat(var(--grid-col), 1fr);
	border: 1px solid black;
}

.cell {
	background: white;
}
